<nav id="menu" class="navbar">
  <a class="navbar-nav" routerLink="/listado" routerLinkActive="active">Lista Alumnos</a>
  <a class="navbar-nav" routerLink="/resumen" routerLinkActive="active">Resumen</a>
  <a class="navbar-nav" routerLink="/anadiralumno" routerLinkActive="active">Añadir Alumno</a>
  <a class="navbar-nav" routerLink="/anadirincidencia" routerLinkActive="active">Añadir Incidencia</a>
  <a class="navbar-nav" routerLink="/anadiractuacion" routerLinkActive="active">Añadir Actuación</a>
</nav>

